#top {
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    color: white;
    padding: 40px;
    
/*    box-shadow: 40px 1px 20px 1px  #4e6a71;*/
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    position: relative;
    float: left;
    background-color: white;
    width: 300px;
    height: 100vh;
    position: fixed;
    box-shadow: 5px 1px 30px 1px #AFAFAF;
    overflow: auto;   
/*    transform: translateX(-100%);*/
    transition: 0.2s;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {     
      background-color:  #dddddd;
} 
 
::-webkit-scrollbar-thumb {
      background-color: #3a4f54; 
} 

.option{
  
    position: relative;
    top: 250px;
}

#left a{
    display: block;
    color: #000000;
    font-size: 15px;
    margin-left: 20px;
    padding: 5px;
}

#left a:hover{
   background: #dddddd;
   margin-right: 15px;   
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    padding: 5px;
}

.left_content {
    padding: 5px;
    padding-top: 100px;
    margin-left: 350px;
    margin-right: 50px;
    height: 100vh;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


.btn-azul{
    background: #036fab !important;
}

.btn-gris{
    background: #AFAFAF !important;
}

.btn-verde{
    background: yellowgreen !important;
}

.btn-rojo{
    background: red !important;
}

.label{
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.crud{
    padding: 10px;
    display: block;
    margin: 0 auto;
    width: 85%;
}

.panel-info{
    color: white;
    margin: 0px !important;
    padding: 5px !important;
    margin-top: 0;
    background: url(../img/img_fondo.webp);
    background-size: cover;
    height: 240px;
    left: 0;
    position: fixed;
    width: 300px; 
    z-index: 1;
}

.panel-info h1{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.panel-info img{
    display: block;
    border-radius: 50px;
    margin-left: 25px;
    width: 60px;
    margin-bottom: 10px;
}

.user-name{
    display: block;
    font-size: 18px;
    margin-left: 25px;   
    font-weight: bold;
}

.user-email{
    font-size: 10px;
    font-size: 15px;
    margin-left: 25px; 
}

.cerrar-session{
    float: right;
    color: white !important;
    
}

.cerrar-session:hover{
    background: #036fab;
}


.combo{
    border: none;
    border-bottom:1px solid #AFAFAF;
}

.card-imag img{
    margin: 0 auto;
    width: 200px;
    display: block;
}

.card-imag label{
    display: block;
    font-size: 20px;
    text-align: center;
}

.card-imag{
    position: relative;
    width: 100px;
}

.board{
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#title{
    color: green;
    
}

.card-c{
    display: inline;
    width: 300px;
    margin: 10px !important;
    height: 200px;
    font-size: 25px !important;
    text-align: center;
    margin-bottom: 20px !important;
}

.card-c label{
    font-size: 17px;
}


.card-btn{
    width: 100%;
    margin-top: 5px;
}

.tabla-prime{
    display: block;
    width: 100%;
}

.tabla-prime th, td{
    border: none !important;
    border-color: #ffffff !important;    
}

.title{
    float: left;   
}

.controller-crud{
    width: 320px !important;
}

.export{
    margin-bottom: 10px;   
    float: right;
}

.export-table{
    width: 100% !important;
    display: block !important;
}

