/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 21, 2018, 8:10:44 PM

*/

.tableSolicitudes{
    width: 90%;
    background: white !important;
    color: #000000 !important;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 3px #AFAFAF;
    padding: 20px;
}


.contenedor{
    width: 85%;
    margin: 0 auto;  
}

.contenedor article{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.contenedor article h3{
    font-size: 40px;
    padding: 10px;
}

.contenedor article h1{
    margin-top: 100px;
    color: green;
}

.contenedor article h4{
    font-size: 20px;
}

.btn-index{
    width: 250px;
    background: yellowgreen;
    font-size: 20px;
    margin: 10px;
    height: 90px;
    text-align: center;
    padding: 25px;
    
}
