/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2018, 8:09:49 PM
*/

form fieldset{
    margin: 0 auto;
    width: 600px;
    border: none;
}

.form{
    margin-top: 130px;
    
}

.btn-login{
    width: 100%;
    padding: 20px;
    height: 70px;
    background: yellowgreen;
    color: white !important;
}

.message{
    margin-bottom: 30px;
    display: block;
    background: red;
}
